<section class="section--full about__content about__content--off">
	<div class="col col--half">
		<p>
			I'm a Delhi-bred freelance designer currently studying Cognitive Design, Human-Computer Interaction, and Design at the University of California at San Diego. My vices include typographic pornography, obscure Indian music, Manchester United and (thinking about) writing.
		</p>

		<p>
			I grew up learning how to design and code websites since high school. I tried my hand at designing and coding as much as I could as a freelancer, and ended up studying HCI and Design at UC San Diego. During my time at college, I started UCSD's first design consultancy called Studio 1346 on campus connecting students with industry clients and getting them real-world exposure. I also worked with Design for America to address social issues like homelessness and food insecurity through the iterative design process. My love for designing and coding websites has never left me, I've always been working on some freelance project or the other ever since my high school days.
		</p>

	</div>
	<div class="col col--half">
		<p>
			Currently, I'm taking on freelance design work, so if you have a project in mind, I'd love to chat! I'm also working part-time with <a href="http://mindsparklemag.com/">Mindsparkle Mag</a> as an Editorial Intern interviewing artists and designers and publishing their stories. Here's <a href="https://mindsparklemag.com/design/interview/interview-with-garrett-derossett/">my favorite interview so far</a>! Give it read, I hope you'll enjoy.
		</p>

		<p>
			Previously, I was a UX Research Intern at Google on the Localization team. Our holistic goal was to make Google’s vastly diverse user base feel at home by making products feel native, in over 75+ languages and cultures.
		</p>

		<p>
			<ul>
				<li>👋 <a href="mailto:me@prabhavkhandelwal.com">Email me</a> and say hi!</li>
				<li>✏️ Check out my organized collection of <a href="https://dribbble.com/prabhav">glorified doodles</a> at Dribbble.</li>
				<li>🐦 Check out me <a href="https://twitter.com/helloprabhav">tweeting weird things</a> at Twitter.</li>
			</ul>
		</p>
	</div>
</section>
